 :root {
    --font-color: #000000;
    --bg-color: #ffffff;
    --heading-color: #a00000;
    --link-font-color: #1030ff;
    --link-visited-font-color: #4080dd;
    --link-hover-font-color: #ff0000;
    --link-visited-bg-color: #ffe0e0;
    --footer-font-color: #cccccc;
}
[data-theme="dark"] {
    --font-color: #9ca3af;
    --bg-color: #242526;
    --heading-color: #a00000;
    --link-font-color: #1030ff;
    --link-visited-font-color: #1e90ff;
    --link-hover-font-color: #ff0000;
    --link-visited-bg-color:  #ffe0e0;
    --footer-font-color: #5b6371;
}
body {
    height: 100%;
    width: 100%;
    font-family: monospace;
    font-size: 15px;
    font-weight: font-regular;
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: 5px 0 0 0;
}
a {
    color: var(--link-font-color);
    text-decoration: none;
}
a:visited {
    color: var(--link-visited-font-color);
}
a:hover, a:focus, a:active {
    color: var(--link-hover-font-color);
    background-color: var(--link-visited-bg-color);
    text-decoration: underline;
}
h1 {
    font-size: 16px;
    font-weight: font-heavy;
    color: var(--heading-color);
    margin: 15px 0 0 0;
}
input:checked + .slider {
    background-color: #66bb6a;
}
input:checked + .slider:before {
    transform: translateX(13px);
}
.theme-switcher {
    padding-top: 10px;
    display: flex;
    float:  right;
    align-items: center;
}
.theme-switcher em {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}
.theme-switch {
    display: inline-block;
    height: 17px;
    position: relative;
    width: 30px;
}
.theme-switch input {
    display: none;
}
.slider {
    background-color: #cccccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
.slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 13px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 13px;
}
.slider.round {
    border-radius: 17px;
}
.slider.round:before {
    border-radius: 50%;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.justify {
    text-align: justify;
}
.default {
    margin: 5px 25px 10px 50px;
}
.synopsis {
    margin: 5px 50px 10px 50px;
}
.files {
    margin: 5px 25px 30px 50px;
}
.font-light {
    font-weight: 300;
}
.font-regular {
    font-weight: 400;
}
.font-bold {
    font-weight: 700;
}
.font-heavy {
    font-weight: 900;
}
.footer {
    color: var(--footer-font-color);
    font-size: 11px;
}
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.row {
    position: relative;
    width: 100%;
}
.row > [class^="col"] {
    float: right;
    margin: 0.5rem 1%;
    min-height: 0.125rem;
}
.row [class^="col"] {
    float: left;
    min-height: 0.125rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    width: 100%;
}
.col-1-sm {
    width: 8.33%;
}
.col-2-sm {
    width: 16.66%;
}
.col-3-sm {
    width: 25%;
}
.col-4-sm {
    width: 33.33%;
}
.col-5-sm {
    width: 41.66%;
}
.col-6-sm {
    width: 50%;
}
.col-7-sm {
    width: 58.33%;
}
.col-8-sm {
    width: 66.66%;
}
.col-9-sm {
    width: 75%;
}
.col-10-sm {
    width: 83.33%;
}
.col-11-sm {
    width: 91.66%;
}
.col-12-sm {
    width: 100%;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.hidden-sm {
    display: none;
}
@media only screen and (min-width: 540px) {
    .container {
        width: 90%;
    }
}
@media only screen and (min-width: 720px) {
    .container {
        width: 97%;
    }
    .hidden-sm {
        display: block;
    }
}
@media only screen and (min-width: 1280px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .hidden-sm {
        display: block;
    }
}
